.hello-title {
    color: darkgreen;
}

body {
    background: #dedede;
}

.page-wrap {
    min-height: 100vh;
}

.bd-links a {
    color: rgba(0, 0, 0, 0.65);
    text-decoration: none;
}

.bd-links a:hover, .bd-links a:focus {
    color: rgba(0, 0, 0, 0.85);
    background-color: rgba(121, 82, 179, 0.1);
    text-decoration: underline;
}
