<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <meta charset="utf-8">
    <title th:text="'Hello, ' + ${name} + '!'"></title>
    <meta name="description" content="Spring Boot example">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>

<body>
    <h1 class="hello-title">Welcome to the Spring Boot Docker example.</h1>

    <h4 th:text="'Hello, ' + ${name} + '!'"></h4>></h4>
    <script th:src="@{/js/main.js}"></script>
</body>

</html>